/.vscode
data.bin
launch.json
tasks.json
c_cpp_properties.json
_deps
.vscode
*.bin
*.out
*.o
*.log
*.exe
*.out
*.json
CMakeFiles
CMAKE
*workspace
/matrices
/MM
Benchmarking/datasets
/Benchmarking/denseMatrices
/Benchmarking/sparseMatrices
/Benchmarking/matrices
*.mtx
PyVSparse
PyVSparse/*